body {
  background-color: #1c1d26;
  color: #999999;
  font-family: "Oldenburg";
}

h1.title {
  text-align: center;
}

div.outline-2 h2 {
  text-align: center;
}

.figure-number { display: none; }

.figure p {
  text-align: center;
  font-style: italic;
  color: white;
}

img#pic-header {
  width: 100%;
}

div#content {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-style: bold;
}

div#content p a:hover {
  text-decoration: underline;
  color: red;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /*padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.openbtn {
  position: fixed;
  top: 25px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

dl {
  padding: 0.5em;
}

dt {
  float: left;
  text-align: right;
  font-weight: bold;
  color: white;
}

dt::after {
  content: ":";
}

dd {
  margin: 0 0 0 175px;
  padding: 0 0 0.5em 0;
}

.content .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Oldenburg";
  font-size: 20px;
}

.content .active, .collapsible:hover {
  background-color: #555;
}

.content .collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content .active:after {
  content: "\2212";
}

.content .collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #111;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
