body {
    background-color: #1c1d26;
    color: #999999;
}

h1.title {
    margin-top: 60px;
    font-family: "Oldenburg";
    text-align: center;
}

div.outline-2 h2 {
    font-family: "Oldenburg";
    text-align: center;
}

.figure-number { display: none; }

.figure p {
    text-align: center;
    font-style: italic;
    color: white;
}

img#pic-header {
    width: 100%;
}

div#content {
    font-family: "Oldenburg";
    font-size: 18px;
}

div#navigation ul {
    list-style-type: none;
    width: 90%;
}

div#navigation  ul li {
    display: inline;
    padding: 10px;
}

div#content p a {
  text-decoration: none;
  color: #ffffff;
  font-style: bold;
}

div#content p a:hover {
  text-decoration: underline;
  color: red;
}

div#navigation ul li a {
    text-decoration: none;
    color: #999999;
    font-family: "Dosis";
    font-size: 22px;
}

div#navigation ul li a:hover {
    color:red;
}

div#navigation {
    position: fixed;
    top: 0;
    background-color: #262831;
    width: 100%;
    text-align: right;
    line-height: 15px;
    z-index: 100;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.openbtn {
    position: absolute;
    top: 60px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip::after {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover::after {
  visibility: visible;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
